body {
    box-sizing: border-box;
}

:root {
    /* Fonts */
    
  
    /* Colors */
    --white: #fafafa;
    --green: #ace335;
    --light-shadow: rgba(0, 0, 0, .2);
    --dark-shadow: rgba(0, 0, 0, .6);
  }